[user]
    name = Arné Schreuder
    email = arneschreuder@icloud.com
    email = arne@compiax.io
    email = arne.schreuder@advance.io 
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = "nvim"
[help]
    autocorrect = 1
[push]
    default = simple
