[submodule "res/iTerm2-Color-Schemes"]
	path = res/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "res/powerline-fonts"]
	path = res/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/vim.symlink/bundle/molokai"]
	path = vim/vim.symlink/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/vim-better-whitespace"]
	path = vim/vim.symlink/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/vim-airline-themes"]
	path = vim/vim.symlink/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/vim.symlink/bundle/vim-nerdree-tabs"]
	path = vim/vim.symlink/bundle/vim-nerdree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
