[submodule "base16/shell"]
	path = base16/shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "base16/iterm2"]
	path = base16/iterm2
	url = git@github.com:martinlindhe/base16-iterm2.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
