"*":
  core:
    telemetryConsent: "limited"
  editor:
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "aceb952f-3615-2549-9a4d-9d0bd9cc8b72"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
